.parent{
    width: 100%;
    background-color: rgb(255, 157, 100);
}
.parentr{
    width: 100%;
    background-color: darkgreen;
}
div{
margin: 1%;
float: left;
width: calc(92%/4);
background-color: cornflowerblue;
border-radius:20px ;
text-align: center;
font-size: 35px;
color: antiquewhite;
position: relative;
}
img{
width: 230px;
height: 230px;
border-radius: 200px;
}

 a{
    text-decoration: none;
    color:black
}
.b{
    background-color: crimson;
    width: 1338px;

}
.y{
float: left;

}
.qq{
   
    background-color: darkgoldenrod;
}
.q{
    float: right;
    background-color: darkgoldenrod;
}

.logo{ 
width: 15%;
height: 150px;
float: right;
-webkit-box-reflect: left;
padding-left: 35%;
position: absolute;
right: 0px;

}
.logo img{
width: 100%;
height: 100%;

}
.list{
width: 40%;
height: 100px;
float: right;
padding-right: 350px;

right: 100px;
background-color: rgb(207, 159, 27);
margin-right: 120px;
}
ul li {
list-style: none;
display: inline;

}
ul li a{
color: rgb(22, 150, 155);
text-decoration: none;
font-size: 30px;
float: left;
padding: 0px 15px 0px 15px ;

}
.logow{
    float: right;
    width: 15%;
height: 150px;
}
.liste{
    width: 40%;
height: 100px;
float: right;
padding-right: 350px;

right: 100px;
background-color: rgb(207, 159, 27);
margin-right: 120px;
margin-top: -200px;
}
 .logoe{
    width: 15%;
    height: 150px;
    float: right;
    -webkit-box-reflect: left;
    padding-left: 35%;
    position: absolute;
    right: 0px;
    margin-top: -207px;
 }   
.kanan{
    background-image: url(../img/ooo.jpg) ;
}
.kanam{
    background-image: url(../img/oo.jpg);
}
.parentg{
    width: 100%;
    background-color: rgb(20, 220, 30);
}
.cc{
    background-color: rgb(0, 119, 128);
}
.bbb{
font-size: 40px;
text-decoration: none;
color: orangered;
position: absolute;
top: 47%;
left: 37%;
}
.pppp{
    background-color: palevioletred;
    width: 500px;
    height: 250px;
    position: absolute;
    top: 38%;
left: 32%;
}
.parnety{
    width: 100%;
    background-color: crimson;
}